.jumbo-holder {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.jumbotron {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;

  h1 {
    line-height: 1.1;
    letter-spacing: -3px;
    margin: 0;
    padding: 0 0 9% 6%;
	}
}

.twitter,
.dribbble,
.linkedin,
.for-hire {
	color: $dark-blue;

	&:hover {
		color: $brand-primary;
	}
}


.twitter:after,
.dribbble:after,
.linkedin:after{
	background-repeat: no-repeat;
	background-size: 50px 50px;
	display: inline-block;
	content:'';
	height: 50px;
	width: 50px;
	position: relative;
	padding-right: .7em;
}

.twitter:after {
	background-image: url(../img/twitter.svg);
	left: 0.15em;
	top: 0.05em;
}

.dribbble:after {
	background-image: url(../img/dribbble.svg);
	left: 0.15em;
	top: 0.05em;
	padding-right: .8em;
}
.linkedin:after {
	background-image: url(../img/linkedin.svg);
	left: 0.15em;
	top: 0.05em;
}

.icon-mail {
	font-size: .75em;
	position: relative;
	top: .17em;
	padding-left: .25em;
	padding-right: .1em;
	color: $brand-primary;
}

