// Global values
// --------------------------------------------------

// Grays
// -------------------------

$gray-darkest: 			 #13131a;	// Footer color
$gray-line: 			 #272a2f;	// Dark borders
$gray-darker: 			 #191c22;   // BG colour
$gray-dark:              #4b5055;   // DIN titles
$gray:                   #737c7f;	// body
$gray-blue: 			 #e3edff;   // Highlights and headings
$gray-light:             #a4afb1;	// titles on lightBG
$gray-lighter:           #e0e0e0;	// borders on lightBg
$gray-menu:  			 rgba(25,28,34,.95);		

// Brand colors
// -------------------------

$brand-primary:         #2980b9;
$dark-blue: 			#183355;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;

// Scaffolding
// -------------------------

$body-bg:               #000;
$text-color:            $gray-dark;

// Links
// -------------------------

$link-color:            $brand-primary;
$link-hover-color:      lighten($link-color, 15%);

// Typography
// -------------------------

$font-family-sans-serif:  "ff-din-web", Verdana, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          18px;
$font-size-large:         ceil($font-size-base * 1.25); // ~18px
$font-size-small:         ceil($font-size-base * 0.85); // ~12px

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base); // ~20px

$headings-font-family:    "brandon-grotesque", "Helvetica Neue", Arial, sans-serif;
$headings-font-weight:    400;
$headings-line-height:    1.1;

// Iconography
// -------------------------

$icon-font-path:          "../fonts/";
$icon-font-name:          "glyphicons-halflings-regular";


// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px;
$padding-base-horizontal:        12px;

$padding-large-vertical:         10px;
$padding-large-horizontal:       16px;

$padding-small-vertical:         5px;
$padding-small-horizontal:       10px;

$line-height-large:              1.33;
$line-height-small:              1.5;

$border-radius-base:             3px;
$border-radius-large:            6px;
$border-radius-small:            2px;

$component-active-bg:            $brand-primary;

$caret-width-base:               4px;
$caret-width-large:              5px;


// Dropdowns
// -------------------------

$dropdown-bg:                    #fff;
$dropdown-border:                rgba(0,0,0,.15);
$dropdown-fallback-border:       #ccc;
$dropdown-divider-bg:            #e5e5e5;

$dropdown-link-active-color:     #fff;
$dropdown-link-active-bg:        $component-active-bg;

$dropdown-link-color:            $gray-dark;
$dropdown-link-hover-color:      #fff;
$dropdown-link-hover-bg:         $dropdown-link-active-bg;

$dropdown-link-disabled-color:   $gray-light;

$dropdown-header-color:          $gray-light;

$dropdown-caret-color:           #000;


// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1010;
$zindex-tooltip:           1030;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs:                  568px;
$screen-phone:               $screen-xs;

// Small screen / tablet
$screen-sm:                  768px;
$screen-tablet:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-desktop:             $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-desktop:          $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         40px;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-tablet;


// Navbar
// -------------------------

// Basics of a navbar
$navbar-height:                    80px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-default-color:             #777;
$navbar-default-bg:                $gray-darker;
$navbar-default-border:            $gray-lighter;
$navbar-border-radius:             none;
$navbar-padding-horizontal:        floor($grid-gutter-width / 2);
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);

// Navbar links
$navbar-default-link-color:                $gray-blue;
$navbar-default-link-hover-color:          $brand-primary;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       transparent;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $gray-light;
$navbar-default-brand-hover-color:         darken($navbar-default-link-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #ccc;
$navbar-default-toggle-border-color:       #ddd;


// Inverted navbar
//
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light;
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        #444;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar search
// Normal navbar needs no special styles or vars
$navbar-inverse-search-bg:                  lighten($navbar-inverse-bg, 25%);
$navbar-inverse-search-bg-focus:            #fff;
$navbar-inverse-search-border:              $navbar-inverse-bg;
$navbar-inverse-search-placeholder-color:   #ccc;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;


// Navs
// -------------------------

$nav-link-padding:                          10px 15px;
$nav-link-hover-bg:                         $gray-lighter;

$nav-disabled-link-color:                   $gray-light;
$nav-disabled-link-hover-color:             $gray-light;

$nav-open-link-hover-color:                 #fff;
$nav-open-caret-border-color:               #fff;


// Jumbotron
// -------------------------

$jumbotron-padding:              5%;
$jumbotron-color:                $dark-blue;
$jumbotron-bg:                   transparent;

$jumbotron-heading-color:        inherit;


// Type
// ------------------------
$text-muted:                  $gray-light;
$abbr-border-color:           $gray-light;
$headings-small-color:        $gray-light;
$blockquote-small-color:      $gray-light;
$blockquote-border-color:     $gray-lighter;
$page-header-border-color:    $gray-lighter;

// Miscellaneous
// -------------------------

// Hr border color
$hr-border:                   $gray-lighter;

// Horizontal forms & lists
$component-offset-horizontal: 180px;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:            ((480px + $grid-gutter-width));

// Medium screen / desktop
$container-desktop:           ((900px + $grid-gutter-width));

// Large screen / wide desktop
$container-lg-desktop:        ((980px + $grid-gutter-width));


