.navbar {
	border-bottom: 1px solid $gray-lighter;
	
	.nav {
		font-size: 67%;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}
}

.navbar-about {
	// height: 110px;
}

.navbar-brand {
	color: $gray-light;
	font-size: 18px;
	letter-spacing: -1px;
	a {
		color: $gray-light;
	}
}