h1,
.h1 { 
	font-size: floor($font-size-base * 4); // ~72px
	letter-spacing: -3px;
} 

h2, .h2 { font-size: floor($font-size-base * 3.15); } // ~60px
h3, .h3 { font-size: ceil($font-size-base * 1.70); } // ~24px
h4, .h4 { font-size: ceil($font-size-base * 1.25); } // ~18px
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); } // ~12px

h4, .h4 {
	font-family: $font-family-sans-serif;
	font-size: 67%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: $gray-light;
}

small { 
	font-size: 67%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}