.navbar {
	z-index: 5000;
	border-bottom: 1px solid $gray-line;
	background-color: rgba(25,28,34,.96);
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
	
	.nav {
		font-size: 67%;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;

		.icon-mail {
			font-size: 22px;
			top: 0.13em
		}
		.icon-information {
			font-size: 22px;
			top: 0.13em
		}
	}
	.navbar-nav {
		li {
			opacity: 1;
		}
	    > li > a {
	      color: $navbar-default-link-color;

	      &:hover,
	      &:focus {
	        color: $navbar-default-link-hover-color;
	        background-color: transparent;
	      }
		}
	}
	.nav-pipe {
		height: 26px;
		margin-top: 28px;
		border-right: 1px solid $gray-line;
		margin: 28px 5px 0;
	}
}

.navbar-brand {
	color: $gray;
	font-size: 18px;
	letter-spacing: -1px;
	a {
		color: $gray;

		&:hover {
			color: $brand-primary !important;
			cursor: pointer;
		}
	}
}

.navbar-brand-twitter,
.navbar-brand-dribbble,
.navbar-brand-linkedin {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding-left: 20px;
	margin-left: 5px;
	position: relative;
	top: 3px;
	background-image: url(../img/social.svg);
	background-repeat: no-repeat;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.navbar-brand-twitter {
	background-position: 0 0; 
}
.navbar-brand-dribbble {
	background-position: 0 -30px;
	top: 2px;
}
.navbar-brand-linkedin {
	background-position: 0 -62px;
}

.icon-view-thumb {
	display: inline-block;
	font-size: 23px;
	margin-top: -5px;
	position: relative;
	top: 6px;
	color: $brand-primary;
}

.page-about {
	.navbar {
		border-bottom: 1px solid $gray-lighter;
		background-color: #f7f7f7;
	}
	.navbar-nav {
		li {
			opacity: 0;
		}
	    > li > a {
	      color: $gray-lighter;
	  }
	}
}

.container>.navbar-header, .container>.navbar-collapse {
	margin-right: -40px; 
}

@media screen and (max-width: $screen-phone ) {
 	.navbar {
 		min-height: 60px;
 		height: 60px;
 	}
 	.navbar-nav {
 		margin: 8px 0;
 	}
 	.navbar-brand {
 		padding: 18px 20px;
 		font-size: 16px;
 	}
 	.navbar-header {
 		float: left;
 		width: 75%;
 	}
 	.navbar-collapse {
 		border: none;
 		box-shadow: none;
 		margin-right: -36px !important;
 	} 
}

