.about {
	position: fixed;
	background-color: #f7f7f7;
	height: 100%;
	width: 100%;
	z-index: 2000;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.page-work {
	overflow-y: scroll;
	overflow-x: hidden;

	.about {
		-webkit-transform: translate3d(0,-100%,0);
		-moz-transform: translate3d(0,-100%,0);
		-ms-transform: translate3d(0,-100%,0);
		-o-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0);
	}
}

.page-about {
	position: relative;
	overflow: hidden;

	.about {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-transition: all .7s ease;
		-moz-transition: all .7s ease;
		-ms-transition: all .7s ease;
		-o-transition: all .7s ease;
		transition: all .7s ease;
	}
}

.about-footer {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	background-color: transparent;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background-color: $brand-primary;
	
	&:hover {
		background-color: lighten($brand-primary,5%);		
	}

	.about-footer-inner {
		padding: 2em 0;
	}

	.about-footer-link {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		z-index: 100;
		cursor: pointer;
	}

	h3,
	.icon {
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 1.67em;
	}
	.icon {
		position: relative;
		left: .4em;
		top: .15em;
		font-size: inherit;
	}
}