.work-casestudy-header {
	width: 100%;
	background-size: cover;
	height: 458px;
	position: relative;
}

.casestudy-heading-group {
	position: absolute;
	bottom: 2em;
	h1 {
		margin-top: 0;	
	}
	h4 {
		color: rgba(255,255,255,.5);
	}
}

.casestudy-section {
	border-bottom: 1px solid $gray-line;
	margin: 3em 0 3em;
	padding-bottom: 5em;
	overflow: hidden;
}
.casestudy-section.section-first {
	margin-top: 0;
	padding-top: 4em;

	p {
		color: $gray-blue;
	}
}

.section-first {
	padding-bottom: 4em;
}

.casestudy-section-image {
	margin-bottom: 4em;
}

.section-description {
	margin-bottom: 4em;
}
.image-caption {
	border-bottom: 1px solid $gray-line;
	padding: .3em 0 0;
}

.flikgift,
.lawpath,
.dayrise,
.pollenizer,
.pygg,
.misc {
	.work-group {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 328px;
	}
}
.casestudy-section-last {
	margin-bottom: 0;
	border: none;
}

@media screen and (max-width: $screen-phone ) {
	.work-group.casestudy {
		margin-top: 6em;
	}
	.work-casestudy-header {
		height: 215px;
	}
	.flikgift,
	.lawpath,
	.dayrise,
	.pollenizer,
	.pygg,
	.misc {
		.work-group {
			margin-bottom: 3em;
		}
	}
	.casestudy-section {
		margin: 0 0 1em;
		padding-bottom: 1em;
	}
	.section-description,
	.casestudy-section-image {
		margin-bottom: 2em;
	}
	.casestudy-section.section-first {
		padding: 3em 0 1.5em;
	}
	.casestudy-heading-group {
		bottom: 1em;
	}
	h1 {
		margin-bottom: .2em;
	}
}





