.flikgift {
	.work-casestudy-header {
		background: #000 url(../../img/work/flikgift/bg_header.jpg) no-repeat top center;
		background-size: cover;
	}
	.flikgift-brand {
		margin-top: -4em;
	}
	
	.section-ribbon {
		margin-top: -3em;
		padding-top: 3em;
	}
	.flikgift-ribbon {
		margin-top: -3em;
	}
	.section-birthdayclock {
		padding-top: 5em;
		border: none;
		margin-bottom: 0;
	}
	// .flikgift-balloons {
	// 	margin-top: -3em;
	// }
	.casestudy-section.section-supersized {
		padding-bottom: 0;
		
		.section-description {
			margin-bottom: 1em;
		}
		.casestudy-section-image {
			margin-bottom: 0;
		}
	}
	.work-group {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 328px;
	}
}
