footer {
	background-color: #13131a;
	padding: 2em 0;

	h4 {
		color: $gray-dark;
	}
	p {
		color: $gray;
	}
	.footer-contactme {
		margin: 2em 0 0;
		padding: 1.5em 0 0;
		border-top: 1px solid $gray-line;
		overflow: hidden;

		i {
			color: $brand-primary;
			position: relative;
			top: 2px;
			padding-right: 5px;
		}
	}
}