footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	height: 450px;
	width: 100%;
	background-color: #13131a;
	padding: 1em 0 2em;

	h4 {
		color: $gray-dark;
	}
	p {
		color: $gray;
	}
	.work-menu-item {
		margin-left: 0;
	}
	.footer-contactme {
		padding: 1.5em 0 0;
		overflow: hidden;

		i {
			color: $brand-primary;
			position: relative;
			top: 2px;
			padding-right: 5px;
		}
	}
	.icon-mail {
		font-size: 1em;
	}
}

.case-footer {
	height: 328px;

	h2 {
		position: relative;
		z-index: 100; 
		margin-bottom: 0
	}
}

@media screen and (max-width: $screen-phone ) {
	footer {
		position: static;
		height: auto;

		.icon-mail {
			font-size: 3em;
			padding: 0;
			margin-bottom: 0;
			line-height: 0;
			top: 0;
		}
		.footer-mobile {
			h2 {
				margin-top: .3em;
			}
		}
	}
	.case-footer {
		height: auto;

		h2 {
			margin-bottom: .2em;
		}
	}

}
