body {
	-webkit-font-smoothing: antialiased;
}

footer {
	background-color: #13131a;
}

.section-down {
	.icon-chevron-down {
		color: $gray-light;
		font-size: 72px;
		margin-top: -50px;
	}
}

.icon-home {
	font-size: 20px;
}

.icon-view-thumb {
	display: inline-block;
	font-size: 23px;
	margin-top: -5px;
	position: relative;
	top: 6px;
	left: 10px;
}
