.menu-open {
	padding: 0;
	overflow: hidden;
}

.menu-open .work-menu {
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transition: transform .5s, opacity 0;
	-moz-transition: transform .5s, opacity 0;
	-ms-transition: transform .5s, opacity 0;
	-o-transition: transform .5s, opacity 0;
	transition: transform .5s, opacity 0;
}

.work-menu {
	position: fixed;
	z-index: 800;
	width: 104%;
	height: auto;
	overflow-y: scroll;
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	-o-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	padding-top: 6.5em;
	background-color: rgba(25,28,34,.97);
	// background-color: rgba(25,28,34,.95);
}

.work-menu-item {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid $gray-line;
	h3 {
		margin-top: 0;
	}
	h4 {
		margin-bottom: .5em;
	}
	.menu-item-description {
		padding-top: 1em;
	}
	.menu-item-arrow {
		padding-top: 1.5em;
	}
	.icon-arrow-thin-right {
		font-size: 2em;
	}
}
